body {
    background-color: #2b2c2c;
    color: aliceblue;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}

.sidebar {
    grid-area: sidebar;
    background-color: #599b4c;
}

.header {
    grid-area: header;
    background-color: #d64949;
}

.main-content {
    grid-area: main-content;
    background-color: #3838be;
}